body {
    text-align: center;
}

.jumbotron {
    font-size: 30px;
}

.modal {
    text-align: center;
}

.modal img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

label {
    text-align: left;
}